body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.editorContainer {
  display: flex;

}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 15px 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  margin-bottom: 5px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 5px 6px;
}

.sidebar ul a li {
  color: #333;
}

.sidebar ul a {
  text-decoration: none;
}

.sidebar li {
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #eaeaea;
}

.sidebar li.selected {
  background-color: #dadada;
}

.editor {
  flex-grow: 1;
  padding: 15px;
}

.editor h1 {
  margin-top: 0;
}

.new-file {
  display: block;
  width: 185px;
  padding: 10px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.new-file:hover {
  background-color: #357ae8;
}

textarea {
  width: 100%;
  height: calc(
    100vh - 140px
  ); /* Adjust the -px based on the padding/margin of parent elements */
  resize: none;
}

#save-button {
  position: fixed;
  top: 55px;
  right: 15px;
  width: 60px;
  padding: 10px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#save-button:hover {
  background-color: #357ae8;
}

#save-button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.context-menu {
  position: absolute;
  background: #333;
  color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  display: none;
  padding: 8px 0;
  z-index: 1000;
}
.context-menu-item {
  padding: 8px 16px;
  cursor: pointer;
  display: block;
}
.context-menu-item:hover {
  background: #555;
}

.context-menu-file {
  position: absolute;
  top: 50px;
  left: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  display: none;
  padding: 8px 0;
  z-index: 1000;
  background-color: white;
  flex-direction: column;
  padding: 15px;
}
