{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'favicon.svg' %}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editor</title>
    <link rel="stylesheet" href="{% static 'css/editor.css' %}" />
    {% csrf_token %}
    <script>
      const csrftoken = document.querySelector(
        "[name=csrfmiddlewaretoken]"
      ).value;
    </script>
    <script src="{% static 'js/editor.js' %}"></script>
  </head>
  <body>
    <div class="sidebar">
      <button id="new-file" class="new-file">+ New File</button>
      <h2>Files</h2>
      <ul id="file-list">
        <!-- Files will be dynamically added here -->
      </ul>
    </div>
    <div class="editor">
      <h1 id="filename">Open a file</h1>
      <button id="save-button" disabled>Save</button>
      <textarea id="editor-textarea" readonly></textarea>
    </div>
    <div id="context-menu" class="context-menu"></div>
    <div id="context-menu-file" class="context-menu-file">
      <button id="close">x</button>
      <input type="text" id="file-name" placeholder="File name" />
      <select name="file-type" id="file-type">
        <option value="html">HTML</option>
        <option value="css">CSS</option>
        <option value="js">JavaScript</option>
        <option value="py">Python</option>
      </select>
      <button id="create">Create</button>
    </div>
  </body>
</html>
